@font-face {
    font-family: 'valentine';
    src: url('valentine.ttf') format('woff2'),
         url('valentine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
}

.landingHeadText{
    font-family: valentine;
    font-size: 10vw;
    text-align: center;
    font-weight: 400;
    line-height: 12vw;
    color: #4D201A;
}
p{
    color: #4D201A;
    font-size: 22px;
    letter-spacing: 3px;
}

.hr{
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: red;
}